In [2]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_json('productToMNN.json')
data

,MNN_ID,PRODUCT_ID,MNN_NAME,MNN_CODE
0,53,461363.0,Силденафил,sildenafil
1,53,461364.0,Силденафил,sildenafil
2,53,461365.0,Силденафил,sildenafil
3,53,461366.0,Силденафил,sildenafil
4,53,461367.0,Силденафил,sildenafil
...,...,...,...,...
17226,1662,NaN,"Дифенгидрамин, Парацетамол",difengidramin_paratsetamol
17227,93,494984.0,Ганцикловир,gantsiklovir
17228,231,963082.0,Метоксален,metoksalen
17229,746,494985.0,Мелатонин,melatonin
17230,746,494986.0,Мелатонин,melatonin

In [8]:
basket = pd.read_json('Data/basket.json')
basket

         ORDER_ID  PRODUCT_ID  QANTITY   PRICE            DETAIL_PAGE_URL
0        11881925      873128        1  2554.0           /goods/id303563/
1        11881927      461853        4   675.0           /goods/id116631/
2        11881937      466634        4   222.0       /spb/goods/id215482/
3        11881937      465982        4   179.0       /spb/goods/id214008/
4        11881937      477396        4   126.0       /spb/goods/id241663/
...           ...         ...      ...     ...                        ...
1254293  13584077      466585        1   520.0   /saratov/goods/id215398/
1254294  13584321      463097        2   348.0       /perm/goods/id20631/
1254295  13584324      468104        1  2382.0  /tolyatti/goods/id219056/
1254296  13584488      464160        1   828.0           /goods/id209967/
1254297  13584488      463081        1   921.0           /goods/id206251/

[1254298 rows x 5 columns]

In [10]:
order = pd.read_json('Data/orders.json') # заказ
order

              ID  PERSON_TYPE_ID          DATE_INSERT STATUS_ID LID  USER_ID
0       12076390               1  2021-03-11 22:06:59         F  s1       44
1       12389466               1  2021-03-25 16:05:36         F  s1       44
2       12608530               1  2021-04-04 18:18:30         F  s1       44
3       12728691               1  2021-04-09 19:18:28         F  s1       44
4       12730596               1  2021-04-09 21:00:28         F  s1       44
...          ...             ...                  ...       ...  ..      ...
468664  13576933               1  2021-05-21 12:12:59         F  s1  4937213
468665  13577180               1  2021-05-21 12:24:27         F  s1  4937213
468666  13576906               1  2021-05-21 12:11:58         F  s1  4938814
468667  13579468               1  2021-05-21 14:02:33         F  s1  4938814
468668  13581791               1  2021-05-21 15:43:30         F  s1  4938814

[468669 rows x 6 columns]

In [12]:
products = pd.read_json('Data/products.json')
products

            ID                                               NAME
0       461363                     Виагра, таблетки 100 мг, 2 шт.
1       461364                      Виагра, таблетки 50 мг, 2 шт.
2       461365                      Виагра, таблетки 25 мг, 1 шт.
3       461366                      Виагра, таблетки 50 мг, 1 шт.
4       461367                      Виагра, таблетки 50 мг, 4 шт.
...        ...                                                ...
40017  1311472  Medhelp Лейкопластырь фиксирующий на шелковой ...
40018  1311513        Топинамбур Премиум сироп без сахара, 250 мл
40019  1311514  Maneki Диски ватные двусторонние косметические...
40020  1311515  Vichy Purete Thermale набор Тоник 200 мл+Гель ...
40021  1316818                  Магнерот таблетки 500 мг, 100 шт.

[40022 rows x 2 columns]

In [13]:
property = pd.read_json('Data/property.json')
property

     ID                     CODE                           NAME
0   276                 ALSO_BUY  С этим товаром также покупают
1   429                  ANALOGS                        Аналоги
2   326                 BRAND_ID                          Бренд
3   574                BUY_COUNT                 Кол-во покупок
4   265                  COUNTRY                         Страна
5   284          COURSE_QUANTITY     Количество на курс лечения
6   541                   DOSAGE                      Дозировка
7   542                DRUG_FORM            Лекарственная форма
8   343                 FEATURES                 Характеристики
9   428                     FORM                  Форма выпуска
10  274                FORM_NAME                 Название формы
11  263                IS_RECIPE                     По рецепту
12  264             MANUFACTURER                  Производитель
13  595             MANUFACTURER                  Производитель
14  344          MANUFACTURER_ID               Производитель 1С
15  483              NEED_RECIPE               Необходим рецепт
16  536               OFFER_TYPE                     Тип товара
17  540                  PACKING          Количество в упаковке
18  356  PHARMACOLOGICAL_SECTION       Фармакологическая группа
19  567               SPECIAL_s1               Акции eapteka.ru
20  298                     TYPE                     Тип отзыва
21  325                     TYPE                      Тип акции
22  332                     TYPE               Тип номенклатуры
23  507                     TYPE                     Тип отзыва
24  283              VENDOR_CODE                        Артикул

In [14]:
propertyM = pd.read_json('Data/propertyMultipleValues.json')
propertyM

,IBLOCK_ELEMENT_ID,IBLOCK_PROPERTY_ID,VALUE,VALUE_ENUM,VALUE_NUM,DESCRIPTION
0,461363,356,6817,NaN,6817,None
1,461363,356,9528,NaN,9528,None
2,461364,356,6817,NaN,6817,None
3,461365,356,6817,NaN,6817,None
4,461366,356,6817,NaN,6817,None
...,...,...,...,...,...,...
67572,1296503,276,886694,NaN,886694,
67573,1297833,276,464861,NaN,464861,
67574,1297833,276,515491,NaN,515491,
67575,1299717,276,1033550,NaN,1033550,
67576,1308333,567,1080337,NaN,1080337,None

In [22]:
propertyV = pd.read_json('Data/propertyValues.json')
propertyV.head()

,IBLOCK_ELEMENT_ID,PROPERTY_276,PROPERTY_429,PROPERTY_326,PROPERTY_574,PROPERTY_265,PROPERTY_284,PROPERTY_541,PROPERTY_542,PROPERTY_343,...,PROPERTY_264,PROPERTY_594,PROPERTY_344,PROPERTY_483,PROPERTY_536,PROPERTY_540,PROPERTY_356,PROPERTY_567,PROPERTY_332,PROPERTY_283
0,461363,"a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",23a5c4b5-6f26-4053-b728-cb864a4edcbd,66,США,NaN,100 мг,таблетки,100177,...,Пфайзер,,a219a283-5674-498e-a828-d11bd7d7c4fc,0,drug,2,"a:3:{s:5:""VALUE"";a:2:{i:0;s:4:""6817"";i:1;s:4:""...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",RX,
1,461364,"a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",23a5c4b5-6f26-4053-b728-cb864a4edcbd,26,США,NaN,50 мг,таблетки,100178,...,Пфайзер,,a219a283-5674-498e-a828-d11bd7d7c4fc,0,drug,2,"a:3:{s:5:""VALUE"";a:1:{i:0;s:4:""6817"";}s:11:""DE...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",RX,
2,461365,"a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",23a5c4b5-6f26-4053-b728-cb864a4edcbd,20,США,NaN,25 мг,таблетки,100180,...,Пфайзер,,a219a283-5674-498e-a828-d11bd7d7c4fc,0,drug,1,"a:3:{s:5:""VALUE"";a:1:{i:0;s:4:""6817"";}s:11:""DE...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",RX,
3,461366,"a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",23a5c4b5-6f26-4053-b728-cb864a4edcbd,28,США,NaN,50 мг,таблетки,100183,...,Пфайзер,,a219a283-5674-498e-a828-d11bd7d7c4fc,0,drug,1,"a:3:{s:5:""VALUE"";a:1:{i:0;s:4:""6817"";}s:11:""DE...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",RX,
4,461367,"a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",23a5c4b5-6f26-4053-b728-cb864a4edcbd,22,США,NaN,50 мг,таблетки,100184,...,Пфайзер,,a219a283-5674-498e-a828-d11bd7d7c4fc,0,drug,4,"a:3:{s:5:""VALUE"";a:2:{i:0;s:4:""6817"";i:1;s:4:""...","a:3:{s:5:""VALUE"";a:0:{}s:11:""DESCRIPTION"";a:0:...",RX,

In [19]:
propertyV.PROPERTY_276

'a:3:{s:5:"VALUE";a:0:{}s:11:"DESCRIPTION";a:0:{}s:2:"ID";a:0:{}}'